.projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.createBtn {
    color: white;
    background-color: rgb(65, 65, 83);
    margin: 25px;
}

.project-form {
    display: flex;
    justify-content: center
}

 .proj-details h4 {
     margin: 10px
 }

/* .my-proj {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
} */

 